<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h3>전체 출력</h3>
  {% for fruit in fruits %}
    <span>{{ fruit }}   </span>
  {% endfor %}
  <hr>
  <h3>싫어하는 과일 출력 안하기</h3>
  {% for fruit in fruits %}
    {% if fruit not in hate %}
      <span>{{ fruit }}   </span>
    {% endif %}
  {% endfor %}
  <hr>
  <h3>이름의 길이가 2보다 작은 과일 출력 안하기</h3>
  {% for fruit in fruits %}
    {% if fruit|length > 1 %}
      <span>{{ fruit }}   </span>
    {% endif %}
  {% endfor %}
  <hr>
  <h3>과일의 이름 3글자까지만 출력하기</h3>
  {% for fruit in fruits %}
   <p>{{fruit|truncatechars:3}}</p>
  {% endfor %}
</body>
</html>