<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>catch! I catch {{ t_mes }}</h3>
    <form action="{% url 'throws:second' %}" method="GET">
        <label for="f_mes">throw!</label>
        <input type="text" name="f_mes" id="f_mes">
        <input type="submit" value="슉">
    </form>
</body>
</html>